src/html/components/product.pug
include ./button
include ./inputCounter
include ./breadcrumbs

-
  var colorList = [
    {"color": "#fff"},
    {"color": "#feabd8"},
    {"color": "#2a8ce6", "active": true},
    {"color": "#ea3939"},
    {"color": "#fde910"},
    {"color": "#fad201"},
    {"color": "#c0c0c0"},
  ]

.product
  h1.product__title Aenean sollicitudin lorem quis bibendum auctortaciti
  .product__author by #[.h-color--gray.h-display--inline Pretty Present]
  .product__price 
    | 346
    .product__currency Kč
  .product__subBlock
    .product__article We tell about product
    .product__article.product__article--right Место для артикула
  .product__content This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
  .product__size
    | Size: #[span.product__sizeText 4 x 6 x 10]#[span.product__sizeHelp (ШхГхВ) см]
  h2.product__subTitle.h-mb--30 Choose #[.h-color--peach.h-display--inline color] :
  if colorList
    .product__colorList
      for item in colorList
        .product__color(tabindex=0, style=item.color ? `background-color: ${item.color}` : '', class=(item.active ? 'product__color--active' : ''))

  h2.product__subTitle.h-mb--30 Choose #[.h-color--peach.h-display--inline size] the box :
  .row.h-mb--40
    .col.h-align--center
      +button('Small', 'button--disabled button--xxs')
      +button('Medium', 'button--disabled button--xxs')
      +button('Big', 'button--wideMinor button--whiteColor button--xxs')
  h2.product__subTitle.h-mb--25 Choose #[span.h-color--peach.h-display--inline quantity] the box :
  .h-flex--justifyCenter
    +inputCounter(1, 'h-mr--15')
    .product__amount
      .product__amountLabel Costs for all:
      .product__amountPrice 692 Kč
  .product__orderBlock
    +button('Заказать', 'button--xs h-mr--10 h-fg--1')
    +button('favorite', 'button--xs button--icon button--icon-likeWhite')
  .product__delivery 
    | Возможность доставки: 
    span.product__deliveryPlace Доставка только по Чехии
  +breadcrumbs([
    {
      "title": "Catalogy",
      "link": "/"
    },
    {
      "title": "Box for family",
      "link": "/"
    },
    {
      "title": "Aenean sollicitudin lorem Box",
      "link": "/"
    },
  ])


  

build/product.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1024, initial-scale=1">
    <title>Pretty Present</title>
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <script type="text/javascript" src="./js/main.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="container container--full header__top"><a class="header__topLink" href="">Přihlásit se</a><a class="header__topLink header__topLink--favorite" href="">Oblíbené</a><a class="header__topLink header__topLink--cart" href="/basket.html" data-count="7">Košík</a></div>
        <div class="container container--full h-mt--15 h-mb--35">
          <div class="row row--verticalCenter">
            <div class="col col--2 colDesktop--1"></div>
            <div class="col col--2 colDesktop--3">
              <input class="header__search" type="search" placeholder="Hledáte něco?">
            </div>
            <div class="col col--4 h-align--center"><a class="header__logo" href="/"><img class="header__logoImg" src="./imgs/logo.png" alt="Pretty Present" height="114" width="249"></a></div>
            <div class="col col--4 h-flex--justifyEnd h-flex--alignCenter">
                    <div class="dropdown header__dropdown"><a class="dropdown__toggler" href="">Euro <span class="text text--strong">€</span></a>
                      <ul class="dropdown__menu">
                        <li><a class="dropdown__menuItem" href="#">Крона <span class="text text--strong">CZK</span></a></li>
                        <li><a class="dropdown__menuItem" href="#">Рубль <span class="text text--strong">₽</span></a></li>
                      </ul>
                    </div>
                    <div class="dropdown header__dropdown"><a class="dropdown__toggler" href=""><div class="header__itemFlag">Čeština</div></a>
                      <ul class="dropdown__menu">
                        <li><a class="dropdown__menuItem" href="#"><div class="header__itemFlag">English</div></a></li>
                        <li><a class="dropdown__menuItem" href="#"><div class="header__itemFlag">Русский</div></a></li>
                      </ul>
                    </div>
              <div class="header__social"><a class="header__socialItem header__socialItem--instagram" href=""></a><a class="header__socialItem header__socialItem--facebook" href=""></a></div>
            </div>
          </div>
        </div>
              <nav class="header__menu h-mb--20">
                <li class="header__menuItem"><a class="header__menuLink" href="/catalog.html">Hotové balíčky</a></li>
                <li class="header__menuItem"><a class="header__menuLink" href="/content.html">Sestavit balíček</a></li>
                <li class="header__menuItem"><a class="header__menuLink" href="/product.html">Scrapaholic</a></li>
                <li class="header__menuItem"><a class="header__menuLink" href="/content.html">Časté dotazy</a></li>
                <li class="header__menuItem"><a class="header__menuLink" href="/content.html">Pro firmy</a></li>
                <li class="header__menuItem"><a class="header__menuLink" href="/contacts.html">Kontakty</a></li>
                <li class="header__menuItem"><a class="header__menuLink" href="/content.html">Doprava a Platba</a></li>
              </nav>
      </header>
      <div class="container container--full container--noPadding h-mb--60 h-bt--1 h-borderColor--gray">
        <div class="row">
          <div class="col col--6">
            <div class="productSlider">
              <div class="js-productSlider">
                            <div class="productSlider__slide"><img class="productSlider__img" src="./imgs/cards/card-image.png"></div>
                            <div class="productSlider__slide"><img class="productSlider__img" src="./imgs/cards/card-image.png"></div>
                            <div class="productSlider__slide"><img class="productSlider__img" src="./imgs/productSlider/product.jpg"></div>
              </div>
              <div class="productSlider__counter">
                <div class="productSlider__countItem"></div>
                <div class="productSlider__countAll"></div>
              </div>
            </div>
          </div>
          <div class="col col--5">
            <div class="product">
              <h1 class="product__title">Aenean sollicitudin lorem quis bibendum auctortaciti</h1>
              <div class="product__author">by 
                <div class="h-color--gray h-display--inline">Pretty Present</div>
              </div>
              <div class="product__price">
                 346
                <div class="product__currency">Kč</div>
              </div>
              <div class="product__subBlock">
                <div class="product__article">We tell about product</div>
                <div class="product__article product__article--right">Место для артикула</div>
              </div>
              <div class="product__content">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</div>
              <div class="product__size">Size: <span class="product__sizeText">4 x 6 x 10</span><span class="product__sizeHelp">(ШхГхВ) см</span></div>
              <h2 class="product__subTitle h-mb--30">Choose 
                <div class="h-color--peach h-display--inline">color</div> :
              </h2>
              <div class="product__colorList">
                <div class="product__color" tabindex="0" style="background-color: #fff"></div>
                <div class="product__color" tabindex="0" style="background-color: #feabd8"></div>
                <div class="product__color product__color--active" tabindex="0" style="background-color: #2a8ce6"></div>
                <div class="product__color" tabindex="0" style="background-color: #ea3939"></div>
                <div class="product__color" tabindex="0" style="background-color: #fde910"></div>
                <div class="product__color" tabindex="0" style="background-color: #fad201"></div>
                <div class="product__color" tabindex="0" style="background-color: #c0c0c0"></div>
              </div>
              <h2 class="product__subTitle h-mb--30">Choose 
                <div class="h-color--peach h-display--inline">size</div> the box :
              </h2>
              <div class="row h-mb--40">
                <div class="col h-align--center"><a class="button button--disabled button--xxs" href="/" role="button" title="Small">Small</a><a class="button button--disabled button--xxs" href="/" role="button" title="Medium">Medium</a><a class="button button--wideMinor button--whiteColor button--xxs" href="/" role="button" title="Big">Big</a>
                </div>
              </div>
              <h2 class="product__subTitle h-mb--25">Choose <span class="h-color--peach h-display--inline">quantity</span> the box :</h2>
              <div class="h-flex--justifyCenter">
                            <div class="inputCounter h-mr--15"><span class="inputCounter__minus"></span>
                              <input class="inputCounter__input" type="text" value="1"><span class="inputCounter__plus"></span>
                            </div>
                <div class="product__amount">
                  <div class="product__amountLabel">Costs for all:</div>
                  <div class="product__amountPrice">692 Kč</div>
                </div>
              </div>
              <div class="product__orderBlock"><a class="button button--xs h-mr--10 h-fg--1" href="/" role="button" title="Заказать">Заказать</a><a class="button button--xs button--icon button--icon-likeWhite" href="/" role="button" title="favorite">favorite</a>
              </div>
              <div class="product__delivery">
                 Возможность доставки: <span class="product__deliveryPlace">Доставка только по Чехии</span></div>
                          <div class="breadcrumbs"><a class="breadcrumbs__item" href="/">Catalogy</a><a class="breadcrumbs__item" href="/">Box for family</a>
                            <div class="breadcrumbs__item breadcrumbs__item--active">Aenean sollicitudin lorem Box</div>
                          </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container h-mb--40">
        <h2 class="text text--h3">Похожие товары</h2>
        <div class="itemsSlider">
          <div class="js-itemsSliderNav"></div>
          <div class="js-itemsSlider"><a class="itemsSlider__slide" href="/"><img class="itemsSlider__img" src="./imgs/productSlider/product.jpg" alt="product"></a><a class="itemsSlider__slide" href="/"><img class="itemsSlider__img" src="./imgs/productSlider/product.jpg" alt="product"></a><a class="itemsSlider__slide" href="/"><img class="itemsSlider__img" src="./imgs/productSlider/product.jpg" alt="product"></a><a class="itemsSlider__slide" href="/"><img class="itemsSlider__img" src="./imgs/productSlider/product.jpg" alt="product"></a><a class="itemsSlider__slide" href="/"><img class="itemsSlider__img" src="./imgs/productSlider/product.jpg" alt="product"></a><a class="itemsSlider__slide" href="/"><img class="itemsSlider__img" src="./imgs/productSlider/product.jpg" alt="product"></a><a class="itemsSlider__slide" href="/"><img class="itemsSlider__img" src="./imgs/productSlider/product.jpg" alt="product"></a><a class="itemsSlider__slide" href="/"><img class="itemsSlider__img" src="./imgs/productSlider/product.jpg" alt="product"></a><a class="itemsSlider__slide" href="/"><img class="itemsSlider__img" src="./imgs/productSlider/product.jpg" alt="product"></a><a class="itemsSlider__slide" href="/"><img class="itemsSlider__img" src="./imgs/productSlider/product.jpg" alt="product"></a>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container container--full">
        <div class="row">
          <div class="col col--1"></div>
          <div class="col col--11">
                <nav class="footer__topMenu">
                  <li class="footer__topMenuItem"><a class="footer__topMenuLink" href="">Home</a>
                  </li>
                  <li class="footer__topMenuItem">
                        <div class="dropdown footer__topMenuLink dropdown--dark"><a class="dropdown__toggler" href="">page GIfts</a>
                          <ul class="dropdown__menu">
                            <li><a class="dropdown__menuItem" href="#">1</a></li>
                            <li><a class="dropdown__menuItem" href="#">2</a></li>
                          </ul>
                        </div>
                  </li>
                  <li class="footer__topMenuItem"><a class="footer__topMenuLink" href="">catalog</a>
                  </li>
                  <li class="footer__topMenuItem"><a class="footer__topMenuLink" href="">box designer</a>
                  </li>
                  <li class="footer__topMenuItem"><a class="footer__topMenuLink" href="">Enter the site</a>
                  </li>
                  <li class="footer__topMenuItem"><a class="footer__topMenuLink" href="">buy</a>
                  </li>
                  <li class="footer__topMenuItem"><a class="footer__topMenuLink" href="">about us</a>
                  </li>
                  <li class="footer__topMenuItem"><a class="footer__topMenuLink" href="">contacts</a>
                  </li>
                </nav>
          </div>
        </div>
        <div class="row">
          <div class="col col--2"></div>
          <div class="col col--9 h-flex--justifyCenter">
                <nav class="footer__bottomMenu">
                  <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">PERSONALIZED GIFTS</a></li>
                  <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">GIFT BOXES</a></li>
                  <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">BUILD YOUR OWN BOX</a></li>
                  <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">FOR CORPORATES</a></li>
                  <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">SPECIAL DEALS</a></li>
                  <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">EXTRA SERVICES</a></li>
                  <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">SCRAPAHOLIC</a></li>
                  <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">EVENT PAGE</a></li>
                  <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">ABOUT</a></li>
                  <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">CONTACT</a></li>
                </nav>
                <nav class="footer__bottomMenu">
                  <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">For family</a></li>
                  <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">for them</a></li>
                  <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">for him</a></li>
                  <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">for her</a></li>
                  <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">for children</a></li>
                </nav>
                <nav class="footer__bottomMenu">
                  <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">BEST FRIEND</a></li>
                  <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">I LOVE YOU</a></li>
                  <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">MOTHER</a></li>
                  <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">GRANDMA</a></li>
                  <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">BIRTHDAY</a></li>
                  <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">GET BETTER</a></li>
                  <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">GOOD LUCK</a></li>
                  <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">GRADUATION</a></li>
                  <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">THANK YOU</a></li>
                  <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">COLLEAGUE</a></li>
                </nav>
                <nav class="footer__bottomMenu">
                  <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">NEW JOB</a></li>
                  <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">RELAX</a></li>
                  <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">GOURMAND</a></li>
                  <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">JUST BECAUSE</a></li>
                  <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">NEW HOME</a></li>
                  <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">TRAVELER</a></li>
                  <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">SPORTY</a></li>
                  <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">BIRTHDAY</a></li>
                  <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">MISS YOU</a></li>
                  <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">CHEERUP</a></li>
                  <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">WEDDING</a></li>
                </nav>
            <div class="footer__social h-margin--auto"><a class="footer__socialItem footer__socialItem--facebook" href=""></a><a class="footer__socialItem footer__socialItem--instagram" href=""></a><a class="footer__socialItem footer__socialItem--email" href=""></a><a class="footer__socialItem footer__socialItem--whatsapp" href=""></a><a class="footer__socialItem footer__socialItem--twitter" href=""></a>
            </div>
          </div>
        </div>
        <div class="footer__copyright">Copyright © 2018, Prettypresent.cz, All rights reserved.</div>
      </div>
    </footer>
  </body>
</html>
