src/html/pages/tobuy.pug
doctype html
html
  head
    include ../components/head
  body 
    .wrapper
      include ../components/header
      .tobuy
          .tobuy__left
              .tobuy__wallpaper
                  img.tobuy__wallpaper-img(src='./imgs/toBuy/tobuy.png')
              button.tobuy__back
                  .tobuy__back-text Come back
                  .tobuy__back-arrow 
          .tobuy__divider
              img(src='./imgs/toBuy/divider.png')

          .tobuy__right
              .tobuy__breadcrumbs
                  a(href="#").tobuy__breadcrumbs_link Cart 
                  span.tobuy__breadcrumbs-divider /
                  a(href="#").tobuy__breadcrumbs_link  Customer information 
                  span.tobuy__breadcrumbs-divider /
                  a(href="#").tobuy__breadcrumbs_link  Shipping method 
                  span.tobuy__breadcrumbs-divider_last /
                  span.tobuy__breadcrumbs_last  Payment method
              .tobuy__title-container
                  .tobuy__title Contact information
                  .tobuy__subtitle-container
                      span.tobuy__subtitle Already have account?Already have account? 
                      a.tobuy__subtitle-link Log in 
              .tobuy__email
                  p.tobuy__email-placeholder
                  input.tobuy__email-input.tobuy__input(placeholder="(YaroslawDesign@gmail.com)")
              .tobuy__sign
                  label
                      input(type="checkbox").tobuy__checkbox_default
                      span.tobuy__checkbox
                  a(href="#").tobuy__sign-link Keep me up 
                  span.tobuy__sign-text to date on news and exclusive offers

              .tobuy__form-title Shipping address
              form.tobuy__form(action="")
                  .tobuy__form-inputs
                      .tobuy__first-name
                          p.tobuy__first-name-placeholder Frst name
                          input.tobuy__first-name-input(placeholder="(Yaroslav)")
                      .tobuy__last-name
                          p.tobuy__last-name-placeholder Last name
                          input.tobuy__last-name-input(placeholder="(Treshchotka)")
                  .tobuy__company
                      p.tobuy__company-placeholder Company
                      input.tobuy__company-input(placeholder="(Optional)")
                  .tobuy__form-inputs
                      .tobuy__address
                          p.tobuy__address-placeholder Address  
                          input.tobuy__address-input(placeholder="")
                      .tobuy__optional
                          p.tobuy__optional-placeholder Apt,suite,etc.
                          input.tobuy__optional-input(placeholder="(Optional)")
                  .tobuy__city
                      p.tobuy__city-placeholder City
                      input.tobuy__city-input
                  .tobuy__form-inputs    
                      .tobuy__country
                          p.tobuy__country-placeholder Ukraine
                          input.tobuy__country-input(placeholder="(Choose country) ")
                      .tobuy__postal
                          p.tobuy__postal-placeholder Postal code
                          input.tobuy__postal-input
                  .tobuy__phone
                      p.tobuy__phone-placeholder Phone number
                      input.tobuy__phone-input(placeholder="(Optional)")
              .tobuy__checkout
                  .tobuy__checkout-img_container
                      img.tobuy__checkout-img(src='./imgs/toBuy/tovar.jpg')
                      span.tobuy__checkout-multiplier x2
                  .tobuy__checkout-container
                      .tobuy__checkout-texts
                          p.tobuy__checkout-grats Thanks!
                          p.tobuy__checkout-total Total:
                      .tobuy__checkout-value
                          span.tobuy__checkout-count 6820
                              p.tobuy__checkout-delivery for free delivery
                          span.tobuy__checkout-currency Kč
                              p.tobuy__checkout-additional +590
          button.tobuy__send
              img.tobuy__send-img(src='./imgs/toBuy/divider-black.png')
              .tobuy__send-text Send
              .tobuy__send-next 
                  img.tobuy__send-next-img(src='./imgs/icons/send.png')

      include ../components/footer

build/tobuy.html
<!DOCTYPE html>
<html>
  <head>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=1024, initial-scale=1">
      <title>Pretty Present</title>
      <link rel="stylesheet" type="text/css" href="./css/styles.css">
      <script type="text/javascript" src="./js/main.js"></script>
    </head>
  </head>
  <body> 
    <div class="wrapper">
      <header class="header">
        <div class="container container--full header__top"><a class="header__topLink" href="">Přihlásit se</a><a class="header__topLink header__topLink--favorite" href="">Oblíbené</a><a class="header__topLink header__topLink--cart" href="/basket.html" data-count="7">Košík</a></div>
        <div class="container container--full h-mt--15 h-mb--35">
          <div class="row row--verticalCenter">
            <div class="col col--2 colDesktop--1"></div>
            <div class="col col--2 colDesktop--3">
              <input class="header__search" type="search" placeholder="Hledáte něco?">
            </div>
            <div class="col col--4 h-align--center"><a class="header__logo" href="/"><img class="header__logoImg" src="./imgs/logo.png" alt="Pretty Present" height="114" width="249"></a></div>
            <div class="col col--4 h-flex--justifyEnd h-flex--alignCenter">
                    <div class="dropdown header__dropdown"><a class="dropdown__toggler" href="">Euro <span class="text text--strong">€</span></a>
                      <ul class="dropdown__menu">
                        <li><a class="dropdown__menuItem" href="#">Крона <span class="text text--strong">CZK</span></a></li>
                        <li><a class="dropdown__menuItem" href="#">Рубль <span class="text text--strong">₽</span></a></li>
                      </ul>
                    </div>
                    <div class="dropdown header__dropdown"><a class="dropdown__toggler" href=""><div class="header__itemFlag">Čeština</div></a>
                      <ul class="dropdown__menu">
                        <li><a class="dropdown__menuItem" href="#"><div class="header__itemFlag">English</div></a></li>
                        <li><a class="dropdown__menuItem" href="#"><div class="header__itemFlag">Русский</div></a></li>
                      </ul>
                    </div>
              <div class="header__social"><a class="header__socialItem header__socialItem--instagram" href=""></a><a class="header__socialItem header__socialItem--facebook" href=""></a></div>
            </div>
          </div>
        </div>
              <nav class="header__menu h-mb--20">
                <li class="header__menuItem"><a class="header__menuLink" href="/catalog.html">Hotové balíčky</a></li>
                <li class="header__menuItem"><a class="header__menuLink" href="/content.html">Sestavit balíček</a></li>
                <li class="header__menuItem"><a class="header__menuLink" href="/product.html">Scrapaholic</a></li>
                <li class="header__menuItem"><a class="header__menuLink" href="/content.html">Časté dotazy</a></li>
                <li class="header__menuItem"><a class="header__menuLink" href="/content.html">Pro firmy</a></li>
                <li class="header__menuItem"><a class="header__menuLink" href="/contacts.html">Kontakty</a></li>
                <li class="header__menuItem"><a class="header__menuLink" href="/content.html">Doprava a Platba</a></li>
              </nav>
      </header>
      <div class="tobuy">
        <div class="tobuy__left">
          <div class="tobuy__wallpaper"><img class="tobuy__wallpaper-img" src="./imgs/toBuy/tobuy.png"></div>
          <button class="tobuy__back">
            <div class="tobuy__back-text">Come back</div>
            <div class="tobuy__back-arrow"> </div>
          </button>
        </div>
        <div class="tobuy__divider"><img src="./imgs/toBuy/divider.png"></div>
        <div class="tobuy__right">
          <div class="tobuy__breadcrumbs"><a class="tobuy__breadcrumbs_link" href="#">Cart </a><span class="tobuy__breadcrumbs-divider">/</span><a class="tobuy__breadcrumbs_link" href="#"> Customer information </a><span class="tobuy__breadcrumbs-divider">/</span><a class="tobuy__breadcrumbs_link" href="#"> Shipping method </a><span class="tobuy__breadcrumbs-divider_last">/</span><span class="tobuy__breadcrumbs_last"> Payment method</span></div>
          <div class="tobuy__title-container">
            <div class="tobuy__title">Contact information</div>
            <div class="tobuy__subtitle-container"><span class="tobuy__subtitle">Already have account?Already have account? </span><a class="tobuy__subtitle-link">Log in </a></div>
          </div>
          <div class="tobuy__email">
            <p class="tobuy__email-placeholder"></p>
            <input class="tobuy__email-input tobuy__input" placeholder="(YaroslawDesign@gmail.com)">
          </div>
          <div class="tobuy__sign">
            <label>
              <input class="tobuy__checkbox_default" type="checkbox"><span class="tobuy__checkbox"></span>
            </label><a class="tobuy__sign-link" href="#">Keep me up </a><span class="tobuy__sign-text">to date on news and exclusive offers</span>
          </div>
          <div class="tobuy__form-title">Shipping address</div>
          <form class="tobuy__form" action="">
            <div class="tobuy__form-inputs">
              <div class="tobuy__first-name">
                <p class="tobuy__first-name-placeholder">Frst name</p>
                <input class="tobuy__first-name-input" placeholder="(Yaroslav)">
              </div>
              <div class="tobuy__last-name">
                <p class="tobuy__last-name-placeholder">Last name</p>
                <input class="tobuy__last-name-input" placeholder="(Treshchotka)">
              </div>
            </div>
            <div class="tobuy__company">
              <p class="tobuy__company-placeholder">Company</p>
              <input class="tobuy__company-input" placeholder="(Optional)">
            </div>
            <div class="tobuy__form-inputs">
              <div class="tobuy__address">
                <p class="tobuy__address-placeholder">Address  </p>
                <input class="tobuy__address-input" placeholder="">
              </div>
              <div class="tobuy__optional">
                <p class="tobuy__optional-placeholder">Apt,suite,etc.</p>
                <input class="tobuy__optional-input" placeholder="(Optional)">
              </div>
            </div>
            <div class="tobuy__city">
              <p class="tobuy__city-placeholder">City</p>
              <input class="tobuy__city-input">
            </div>
            <div class="tobuy__form-inputs">   
              <div class="tobuy__country">
                <p class="tobuy__country-placeholder">Ukraine</p>
                <input class="tobuy__country-input" placeholder="(Choose country) ">
              </div>
              <div class="tobuy__postal">
                <p class="tobuy__postal-placeholder">Postal code</p>
                <input class="tobuy__postal-input">
              </div>
            </div>
            <div class="tobuy__phone">
              <p class="tobuy__phone-placeholder">Phone number</p>
              <input class="tobuy__phone-input" placeholder="(Optional)">
            </div>
          </form>
          <div class="tobuy__checkout">
            <div class="tobuy__checkout-img_container"><img class="tobuy__checkout-img" src="./imgs/toBuy/tovar.jpg"><span class="tobuy__checkout-multiplier">x2</span></div>
            <div class="tobuy__checkout-container">
              <div class="tobuy__checkout-texts">
                <p class="tobuy__checkout-grats">Thanks!</p>
                <p class="tobuy__checkout-total">Total:</p>
              </div>
              <div class="tobuy__checkout-value"><span class="tobuy__checkout-count">6820
                  <p class="tobuy__checkout-delivery">for free delivery</p></span><span class="tobuy__checkout-currency">Kč
                  <p class="tobuy__checkout-additional">+590</p></span></div>
            </div>
          </div>
        </div>
        <button class="tobuy__send"><img class="tobuy__send-img" src="./imgs/toBuy/divider-black.png">
          <div class="tobuy__send-text">Send</div>
          <div class="tobuy__send-next"> <img class="tobuy__send-next-img" src="./imgs/icons/send.png"></div>
        </button>
      </div>
      <footer class="footer">
        <div class="container container--full">
          <div class="row">
            <div class="col col--1"></div>
            <div class="col col--11">
                    <nav class="footer__topMenu">
                      <li class="footer__topMenuItem"><a class="footer__topMenuLink" href="">Home</a>
                      </li>
                      <li class="footer__topMenuItem">
                              <div class="dropdown footer__topMenuLink dropdown--dark"><a class="dropdown__toggler" href="">page GIfts</a>
                                <ul class="dropdown__menu">
                                  <li><a class="dropdown__menuItem" href="#">1</a></li>
                                  <li><a class="dropdown__menuItem" href="#">2</a></li>
                                </ul>
                              </div>
                      </li>
                      <li class="footer__topMenuItem"><a class="footer__topMenuLink" href="">catalog</a>
                      </li>
                      <li class="footer__topMenuItem"><a class="footer__topMenuLink" href="">box designer</a>
                      </li>
                      <li class="footer__topMenuItem"><a class="footer__topMenuLink" href="">Enter the site</a>
                      </li>
                      <li class="footer__topMenuItem"><a class="footer__topMenuLink" href="">buy</a>
                      </li>
                      <li class="footer__topMenuItem"><a class="footer__topMenuLink" href="">about us</a>
                      </li>
                      <li class="footer__topMenuItem"><a class="footer__topMenuLink" href="">contacts</a>
                      </li>
                    </nav>
            </div>
          </div>
          <div class="row">
            <div class="col col--2"></div>
            <div class="col col--9 h-flex--justifyCenter">
                    <nav class="footer__bottomMenu">
                      <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">PERSONALIZED GIFTS</a></li>
                      <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">GIFT BOXES</a></li>
                      <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">BUILD YOUR OWN BOX</a></li>
                      <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">FOR CORPORATES</a></li>
                      <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">SPECIAL DEALS</a></li>
                      <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">EXTRA SERVICES</a></li>
                      <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">SCRAPAHOLIC</a></li>
                      <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">EVENT PAGE</a></li>
                      <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">ABOUT</a></li>
                      <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">CONTACT</a></li>
                    </nav>
                    <nav class="footer__bottomMenu">
                      <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">For family</a></li>
                      <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">for them</a></li>
                      <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">for him</a></li>
                      <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">for her</a></li>
                      <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">for children</a></li>
                    </nav>
                    <nav class="footer__bottomMenu">
                      <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">BEST FRIEND</a></li>
                      <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">I LOVE YOU</a></li>
                      <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">MOTHER</a></li>
                      <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">GRANDMA</a></li>
                      <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">BIRTHDAY</a></li>
                      <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">GET BETTER</a></li>
                      <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">GOOD LUCK</a></li>
                      <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">GRADUATION</a></li>
                      <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">THANK YOU</a></li>
                      <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">COLLEAGUE</a></li>
                    </nav>
                    <nav class="footer__bottomMenu">
                      <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">NEW JOB</a></li>
                      <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">RELAX</a></li>
                      <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">GOURMAND</a></li>
                      <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">JUST BECAUSE</a></li>
                      <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">NEW HOME</a></li>
                      <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">TRAVELER</a></li>
                      <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">SPORTY</a></li>
                      <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">BIRTHDAY</a></li>
                      <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">MISS YOU</a></li>
                      <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">CHEERUP</a></li>
                      <li class="footer__bottomMenuItem"><a class="footer__bottomMenuLink" href="">WEDDING</a></li>
                    </nav>
              <div class="footer__social h-margin--auto"><a class="footer__socialItem footer__socialItem--facebook" href=""></a><a class="footer__socialItem footer__socialItem--instagram" href=""></a><a class="footer__socialItem footer__socialItem--email" href=""></a><a class="footer__socialItem footer__socialItem--whatsapp" href=""></a><a class="footer__socialItem footer__socialItem--twitter" href=""></a>
              </div>
            </div>
          </div>
          <div class="footer__copyright">Copyright © 2018, Prettypresent.cz, All rights reserved.</div>
        </div>
      </footer>
    </div>
  </body>
</html>
